{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.username}} - Appstore</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="menu">{% include 'menu_bar.html' %}</div>
      <div class="mid">
        <div class="profile">
          <div>
            <span>User Name</span>
            <h1>{{user.username}}</h1>
          </div>
          <div>
            <span>Points earned</span>
            <p>{{user.points}}</p>
          </div>
          <div>
            <span>Task completed</span>
            <p>{{user.task_completed}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
